<table class="{{pfv}}table
  {{setModifiers
    table--IsExpandable='pf-m-expandable'
    table--IsTree-view='pf-m-tree-view'
    tree-view--HasCheckboxes='pf-m-tree-view-checkboxes'
    table--HasNoPosinset='pf-m-no-inset'
    table--modifier=table--modifier
  }}"
  {{#if table--IsGrid}}
    role="grid"
  {{/if}}
  {{#unless table--HasNoInset}}
    {{#if table--IsTree-view}}
      role="treegrid"
    {{/if}}
  {{/unless}}
  {{#if table--attribute}}
    {{{table--attribute}}}
  {{/if}}
  {{#if table--id}}
    id="{{table--id}}"
  {{/if}}
  {{#if table-nested--attribute}}
    {{{table-nested--attribute}}}
  {{/if}}>
  {{#if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</table>
