<nav class="{{pfv}}nav
  {{setModifiers
    nav--IsHorizontal='pf-m-horizontal'
    nav--IsHorizontalSubnav='pf-m-horizontal pf-m-subnav'
    nav--IsScrollable='pf-m-scrollable'
    nav--modifier=nav--modifier
  }}"
  {{#if aria-label}}
    aria-label="{{aria-label}}"
  {{else}}
    aria-label="{{ternary nav--aria-label nav--aria-label 'Global'}}"
  {{/if}}
  {{#if nav--id}}
    id="{{nav--id}}"
  {{/if}}
  {{#if nav--aria-label}}
    aria-label="{{nav--aria-label}}"
  {{/if}}
  {{#if nav--width}}
    style="width: {{nav--width}}"
  {{/if}}
  {{#if nav--attribute}}
    {{{nav--attribute}}}
  {{/if}}>
  {{#if nav--HasScroll}}
    {{> nav-scroll-button nav-scroll-button--attribute="disabled" nav-scroll-button--IsLeft="true"}}
    {{#if @partial-block}}
      {{> @partial-block}}
    {{/if}}
    {{#if nav--IsScrollable}}
      {{> nav-scroll-button nav-scroll-button--IsRight="true"}}
    {{else}}
      {{> nav-scroll-button nav-scroll-button--attribute="disabled" nav-scroll-button--IsRight="true"}}
    {{/if}}
  {{else if @partial-block}}
    {{> @partial-block}}
  {{/if}}
</nav>
